<div class="row">
    <div class="col-xl-4 col-lg-6" *ngFor="let faq of faqs">
        <div class="faq-wrapper mb-30">
            <div class="faq-question-item">
                <div class="faq-queastion-text singleLine">

                    <a data-bs-toggle="modal" (click)="sendFaqID(faq.id)" data-bs-target="#exampleModal">{{ faq.question
                        }}</a>

                </div>

                <div class="faqicon-arrow">

                </div>


            </div>

        </div>



    </div>
</div>


<!-- Modal Start -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;align-items: center;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{"faq-answer-title"|translate}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {{faq.answer}}
            </div>
            <div class=" modal-footer">
                <button type="button" class="btn edu-thard-btn"
                    data-bs-dismiss="modal">{{"close-btn-title"|translate}}</button>
            </div>
        </div>
    </div>
</div>