  <!--partnaer-area-start -->
  <div class="patner-area pt-110 pb-170">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-4 col-md-4">
                <div class="partner-box mb-30">
                    <div class="partner-thumb d-none d-sm-block">
                        <img src="assets/img/bg/partner.png" alt="partner-png">
                    </div>
                    <div class="section-title mb-30">
                        <h2>{{"partner-area-title1"|translate}}
                            <span class="down-mark-line-2">{{"partner-area-subtitle"|translate}}</span> {{"partner-area-title2"|translate}}
                        </h2>
                    </div>
                    <div class="Partner-content">
                        <p>
                            {{"partner-paragraph"|translate}}
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8 col-md-8">
                <div class="partner-wrapper">
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-01.png" alt="image not found">
                    </div>
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-02.png" alt="image not found">
                    </div>
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-03.png" alt="image not found">
                    </div>
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-04.png" alt="image not found">
                    </div>
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-05.png" alt="image not found">
                    </div>
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-06.png" alt="image not found">
                    </div>
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-07.png" alt="image not found">
                    </div>
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-08.png" alt="image not found">
                    </div>
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-09.png" alt="image not found">
                    </div>
                    <div class="singel-partner">
                        <img src="assets/img/brand/partner-10.png" alt="image not found">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--partnaer-area-end -->