<!-- campus-area-start -->
<div class="campus-area fix pt-120 pb-70 ">
    <div class="container">
        <div class="campus-wrapper position-relative">
            <div class="campus-shape-sticker">
                <div class="shape-light">
                    <img src="assets/img/shape/shape-light.png" alt="image not found">
                </div>

            </div>

            <div class="campus-shape-1">
                <img src="assets/img/shape/campus-shape-2.png" alt="shape">
            </div>
            <div class="campus-shape-2">
                <img src="assets/img/shape/student-shape-05.png" alt="shape">
            </div>
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="compus-content mb-30">
                        <div class="section-title mb-30">

                            <h2>
                                {{"content-title1"|translate}}
                                <span class="down-mark-line-2"> {{"content-subtitle"|translate}} </span>
                                {{"content-title2"|translate}}
                            </h2>
                        </div>
                        <p>{{"content-paragraph"|translate}}</p>
                        <ul>
                            <li><i class="far fa-check"></i> {{"content-option1"|translate}}</li>
                            <li><i class="far fa-check"></i> {{"content-option2"|translate}}</li>
                            <li><i class="far fa-check"></i>{{"content-option3"|translate}} </li>
                            <li><i class="far fa-check"></i>{{"content-option4"|translate}}</li>
                            <li><i class="far fa-check"></i>{{"content-option5"|translate}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="campus-img-wrapper position-relative">
                        <div class="campus-shape-3">
                            <img src="assets/img/shape/campus-shape-1.png"
                                onError="this.src='/assets/img/other/default-image.png'" alt="No Image'">
                        </div>
                        <div class="campus-img-1">
                            <img src="assets/img/campus/campus-img-1.png"
                                onError="this.src='/assets/img/other/default-image.png'" alt="No Image'">
                        </div>
                        <div class="campus-img-2">
                            <img src="assets/img/campus/campus-img-2.png"
                                onError="this.src='/assets/img/other/default-image.png'" alt="No Image'">
                        </div>

                        <div class="campus-img-4">
                            <img src="assets/img/campus/campus-img-4.png"
                                onError="this.src='/assets/img/other/default-image.png'" alt="No Image'">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- campus-area-end -->