<!-- university-card-area-start -->
<div class="university-card">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="university-main-wraper d-flex align-items-center">
                    <div class="university-course-box">
                        <div class="university-card-text">
                            <p>{{"discover-main-title"|translate}}</p>
                            <h3>{{"discover-title-shape1"|translate}}
                                <span>
                                    {{"discover-subTitle-shape"|translate}}
                                </span>
                            </h3>
                            <a class="edu-six-btn" target="_blank" routerLink="/universities">
                                {{"View-universities-btn"|translate}}
                            </a>
                        </div>
                    </div>

                    <div class="university-card-wrapper">
                        <div class="university-card-icon">

                            <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40"
                                viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                <path
                                    d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120zm8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4C558.9 123.4 576 135 576 152V422.8c0 9.8-6 18.6-15.1 22.3L416 503V200.4zM137.6 138.3c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6V451.8L32.9 502.7C17.1 509 0 497.4 0 480.4V209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77V504.3L192 449.4V255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0zM288 152a40 40 0 1 0 0-80 40 40 0 1 0 0 80z" />
                            </svg>

                        </div>
                        <div class="university-card-content">
                            <h3>{{"university-card1-title"|translate}}</h3>
                            <p>{{"university-card1-paragraph1"|translate}}</p>
                        </div>
                    </div>


                    <div class="university-card-wrapper">
                        <div class="university-card-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40"
                                viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                <path
                                    d="M448 80v48c0 44.2-100.3 80-224 80S0 172.2 0 128V80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6V288c0 44.2-100.3 80-224 80S0 332.2 0 288V186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6V432c0 44.2-100.3 80-224 80S0 476.2 0 432V346.1z" />
                            </svg>
                        </div>
                        <div class="university-card-content">


                            <h3>{{"university-card2-title"|translate}}</h3>
                            <p>{{"university-card2-paragraph1"|translate}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- university-card-area-end -->