  <!-- student-choose-area start -->
  <div class="student-choose-area fix pt-110 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="student-wrapper mb-30">
                    <div class="section-title mb-30">
                        <h2> {{"choose-area-title1"|translate}}<span class="down-mark-line">{{"choose-area-subTitle"|translate}}</span>{{"choose-area-title2"|translate}} </h2>
                    </div>
                    <div class="sitdent-choose-content">
                        <p>
                            {{"choose-area-paragraph"|translate}}
                        </p>
                    </div>
                    <div class="student-choose-list">
                        <ul>
                            <li><i class="far fa-check"></i>{{"choose-area-option1"|translate}}</li>
                            <li><i class="far fa-check"></i>{{"choose-area-option2"|translate}}</li>
                            <li><i class="far fa-check"></i>{{"choose-area-option3"|translate}}</li>
                            <li><i class="far fa-check"></i>{{"choose-area-option4"|translate}}</li>
                            <li><i class="far fa-check"></i>{{"choose-area-option5"|translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2">
                <div class="student-wrapper position-relative">
                    <div class="shap-01">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="student-choose-wrapper position-relative mb-30">
                    <div class="shap-02">
                    </div>
                    <div class="shap-03">
                        <img src="assets/img/shape/student-shape-03.png" alt="image not found">
                    </div>
                    <div class="shap-04">
                        <img src="assets/img/shape/student-shape-04.png" alt="image not found">
                    </div>
                    <div class="shap-05">
                        <img src="assets/img/shape/student-shape-05.png" alt="image not found">
                    </div>
                    <div class="shap-06">
                        <img src="assets/img/shape/student-shape-06.png" alt="image not found">
                    </div>
                    <div class="shap-07">
                        <img src="assets/img/shape/student-shape-07.png" alt="image not found">
                    </div>

                    <div class="student-choose-thumb">
                        <img src="assets/img/banner/about2.jpg" alt="image not found">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- student-choose-area end -->
